body{
	background: linear-gradient(85deg, #c4e5ea, #278dd0);
}
div.sticky-top{
	color: crimson;
	padding: 2%;
	margin: auto;
	text-transform: uppercase;
}
.sticky-top>hr{
	height:2px;
    
	border-width:0;
	color:gray;
	background-color:gray;
}
.addbook{
background: #c5c5c5;
margin: auto;
padding: 1%;
display: block;
border: 2px solid black;
border-radius: 5% 5% 5% 5%;
text-align: center;
width: 30%;
font-size: larger;
    font-weight: bold;
    font-variant-caps: small-caps;
}


label{
	text-transform: capitalize;
}
.display{
	display: inline-block;
	width: 30%;
	background-color: blue;
	box-sizing: border-box;
	height: auto;
	margin: auto;

}